*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 30px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background: #fff;
}

.intro {
  min-height: 918px;
  background: url(https://images03.nicepage.io/c461c07a441a5d220e8feb1a/1573c486240852c0b25f6687/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg)
    no-repeat;
  background-size: 100% 70%;
  background-position: bottom;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block__item {
  width: calc((100% - 60px) / 3);
  min-height: 424px;
  padding: 40px 30px;
  background: #f9926f;
  text-align: center;
  position: relative;
}

.block__item_purple {
  background: #978bb7;
}

.block__item_blue {
  background: #8193c3;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.block__img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.block__title {
  margin-bottom: 20px;
}

.block__text {
  line-height: 1.6;
  font-style: italic;
}

/* Media */

@media (max-width: 1199px) {
  .intro {
    min-height: 693px;
    background-size: 100% 61%;
  }
  .container {
    max-width: 940px;
  }
  .block__item {
    min-height: 516px;
  }
}

@media (max-width: 991px) {
  .intro {
    background-size: 100% 63%;
  }
  .container {
    max-width: 720px;
  }
  .block__item {
    padding: 30px;
    min-height: 616px;
  }
  .block__title {
    word-break: break-word;
  }
}

@media (max-width: 767px) {
  .intro {
    background-size: cover;
    background-position: 0 210px;
  }
  .container {
    max-width: 540px;
  }
  .block__item {
    width: 100%;
    min-height: 0;
    margin-bottom: 30px;
    padding: 30px 10px;
  }
  .block__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 60px 20px;
  }
}
